@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Geist Mono";
    src:
        url("/assets/fonts/GeistMono-Variable.woff2") format("woff2"),
        url("/assets/fonts/GeistMono-Variable.woff") format("woff");
    font-weight: 400 700;
    font-display: swap;
    font-style: normal;
}

body {
    font-family: "Geist Mono", monospace;
    background: #f8f8f8;
}

ul {
    list-style-position: inside;
    list-style-type: disc;
}
